
		body{
            margin: 0;
        }
         table {
            background-color: rgb(143, 228, 159);
            color: black;
            padding: 18px 20px;
            margin: 8px ;
            cursor: pointer;
            width: 100%;
			border-collapse:collapse;
            border:1px solid black
          }
		  th{
			color:black;
			text-align:left;
			padding:8px;
			background-color:rgb(213, 214, 211);
            border:1px solid black
		  }
		  td{

			text-align:left;
			padding:8px;
            border:1px solid black
		  }
		  tr:nth-child(even){
			color:black;
			background-color:rgb(227, 216, 170);
            border:1px solid black
		  }
		
        h1, h2, h3 {
    background-color: powderblue;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    padding: 10px;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}
